@import url("https://fonts.googleapis.com/css?family=Tangerine");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
.header{
   
     font-family: 'Tangerine', serif;
     font-size:70px;
     color:#235;
    text-align: center;
}

.photo-card{
    margin:20px;
    width:300px;
    height:400px;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.photo-card:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

input{
    padding:8px 10px;
    margin: 10px;
    transition: all .4s;
}
input:focus{
   border: .5px solid #234;
    border-radius: 10px;
    outline: none;
    
}
.photo-card img{
    
    width:100%;
    height: 80%important;

}

.photo-card figcaption{
    padding:5px 15px;
}

.control-buttons{
   display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

button{
    border: none;
    padding: 5px 20px;
}
button:hover{
    color:red;
}
button:active{
    transform: translateY(2px);
    outline:none;
}
.user{
    color:cornflowerblue;
}

.row{
   padding-left:6%;
}
.view-photo{
    display:flex;
}

.posts img{
    width:100%;
}
.posts{
    flex:1;
    display: flex;
    flex-direction: column

}

.comments{
flex:1;
display: flex;
flex-direction: column
}